*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.card {
    width: 324px;
    height: 540px;
    padding: 26px;
    border: 1px solid #C0C0C0;
    position: relative;
    margin: 20px;
}


.name{
    position: absolute;
    top: 25px;
    left: 31px;
    background-color: #C0C0C0;
    text-align: center;
    width: 303px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.after-foto-text{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    top: 230px;
    left: 39px;
}


.overview{
    position: absolute;
    background-color: #C0C0C0;
    width: 303px;
    bottom: 392px;
    text-align: center;
    left: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.manufacturer{
    top: 270px;
    left: 31px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}


.manufacturer-data{
    position: absolute;
    left: 118px;
    top: 270px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}



